div.
	<table id="textile_doc"> 
		<tbody><tr> 
			<th>Enter this</th>
			<th>To see this</th>
		</tr> 
		<tr> 
			<td><pre>**bold** text</pre></td>
			<td><strong style="font-weight: bold">bold</strong> text</td> 
		</tr> 
		<tr> 
			<td><pre>*italics* text</pre></td>
			<td><i>italics</i> text</td> 
		</tr> 
		<tr> 
			<td><pre>Header
			</pre></td>
			<td> 
				<h3 style="font-size:18px">Header</h3>
			</td> 
		</tr> 
		<tr> 
			<td><pre>Smaller header
			</pre></td>
			<td><h4 style="font-size:14px">Smaller header</h4></td> 
		</tr> 
		<tr> 
			<td><pre>[A link](http://teambox.com)</pre></td>
			<td><a href="http://www.teambox.com">Link something</a></td> 
		</tr> 
		<tr> 
			<td><pre>![alt text](http://w3.org/img.jpg)</pre></td>
			<td><img src="http://www.w3.org/Icons/valid-html401"></td> 
		</tr> 
		<tr> 
			<td><pre>* unordered list
				* leave empty lines around
			</pre></td>
			<td> 
				<ul style="padding-left:10px">
					<li>unordered list</li>
					<li>leave empty lines around</li>

				</ul> 
			</td> 
		</tr> 
		<tr> 
			<td><pre>1. ordered list
				2. leave empty lines!
			</pre></td>
			<td> 
				<ol style="padding-left:20px">
					<li>ordered list</li>
					<li>leave empty lines!</li>

				</ol> 
			</td> 
		</tr> 
	</tbody></table>